{{page-title "Todo Lists"}}

<div class="mx-auto mw-small">
  <h1>To-Do Lists</h1>

  <ul class="list-group">
    {{#each @model as |todo-list| }}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div>
          <LinkTo @route="todo-lists.todo-list" @model={{todo-list}}>{{todo-list.title}}</LinkTo>
          <small>
            {{todo-list.completed}}/{{todo-list.total}}
          </small>
        </div>
        <button type="button" {{on "click" (fn this.delete todo-list)}} class="btn btn-danger btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
          </svg>
        </button>
      </li>
    {{/each}}
  </ul>
</div>

<form {{on "submit" this.createTodoList}} class="mx-auto row g-3 align-items-end mt-3 mw-medium">
  <div class="col-12 col-md-10">
    <label for="new-todo-list-title">Title</label>
    <Input id="new-todo-list-title" @value={{this.newTitle}} placeholder="My todo's" class="form-control" />
  </div>
  <div class="col-12 col-md-2">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>